.app-footer
  background-color: blueviolet !important

  p
    margin: 0

  @media screen and (max-width: 768px)
    .level-left + .level-right
      margin-top: 0.75rem

  @media screen and (max-width: 768px)
    .level-item:not(:last-child)
      margin-bottom: 0.5rem
